In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("CKD.csv")
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [5]:
data=pd.get_dummies(data,drop_first=True)
data

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,False,False,False,False,False,True,False,False,True
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,False,False,True,True,False,True,False,True,True
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,False,False,True,True,False,False,False,False,True
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,False,False,True,True,False,True,False,True,True
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,False,False,False,False,False,True,False,False,False

In [7]:
data.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [9]:
data["classification_yes"].value_counts()

classification_yes
True     249
False    150
Name: count, dtype: int64

In [11]:
independent=data[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dependent=data[["classification_yes"]]

In [13]:
independent.shape

(399, 27)

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [27]:
from sklearn.model_selection import GridSearchCV
param_grid={'n_estimators':[1,10,100,100],'criterion':['gini', 'entropy', 'log_loss']}
grid=GridSearchCV(RandomForestClassifier(),param_grid,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(xtrain,ytrain)
re=grid.cv_results_
grid_predicition=grid.predict(xtest)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,grid_predicition)
from sklearn.metrics import classification_report
clf_report=classification_report(ytest,grid_predicition)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\MOHANLAL\anaconda3\Lib\site-packages\sklearn\base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [31]:
from sklearn.metrics import f1_score
f1_macro=f1_score(ytest,grid_predicition,average='weighted')
print("The best F1_score is {}:".format(grid.best_params_),f1_macro)

The best F1_score is {'criterion': 'gini', 'n_estimators': 100}: 0.9916844900066377

In [33]:
print("The confusion matrix is \n",cm)

The confusion matrix is
 [[45  0]
 [ 1 74]]

In [35]:
print("The classification report is \n",clf_report)

The classification report is
               precision    recall  f1-score   support

       False       0.98      1.00      0.99        45
        True       1.00      0.99      0.99        75

    accuracy                           0.99       120
   macro avg       0.99      0.99      0.99       120
weighted avg       0.99      0.99      0.99       120

In [39]:
from sklearn.metrics import roc_auc_score
roc_auc_score(ytest,grid.predict_proba(xtest)[:,1])

0.9997037037037038

In [43]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.018384,0.002743,0.013791,0.000890,gini,1,"{'criterion': 'gini', 'n_estimators': 1}",0.964572,0.964286,0.964286,0.964572,0.945185,0.960580,0.007699,10
1,0.039740,0.004643,0.011367,0.003051,gini,10,"{'criterion': 'gini', 'n_estimators': 10}",0.982221,0.945469,0.929513,0.982051,1.000000,0.967851,0.026125,8
2,0.269418,0.009567,0.024683,0.003518,gini,100,"{'criterion': 'gini', 'n_estimators': 100}",1.000000,0.982051,0.947015,0.982051,1.000000,0.982223,0.019348,1
3,0.280123,0.016711,0.023000,0.001260,gini,100,"{'criterion': 'gini', 'n_estimators': 100}",1.000000,0.945469,0.947015,0.964286,1.000000,0.971354,0.024305,5
4,0.013581,0.002164,0.015721,0.001783,entropy,1,"{'criterion': 'entropy', 'n_estimators': 1}",0.964572,0.911105,0.823718,0.890114,0.906062,0.899114,0.045260,12
5,0.039699,0.004340,0.014761,0.001027,entropy,10,"{'criterion': 'entropy', 'n_estimators': 10}",0.964286,0.982051,0.912029,0.964286,1.000000,0.964530,0.029399,9
6,0.278587,0.006990,0.022570,0.001803,entropy,100,"{'criterion': 'entropy', 'n_estimators': 100}",1.000000,0.945469,0.947015,0.964286,1.000000,0.971354,0.024305,5
7,0.281777,0.007769,0.023690,0.001051,entropy,100,"{'criterion': 'entropy', 'n_estimators': 100}",1.000000,0.945469,0.929513,0.982051,1.000000,0.971406,0.028901,3
8,0.012681,0.002016,0.012877,0.001016,log_loss,1,"{'criterion': 'log_loss', 'n_estimators': 1}",0.946663,0.946153,0.928571,0.910254,0.981728,0.942674,0.023678,11
9,0.037191,0.002963,0.016229,0.002333,log_loss,10,"{'criterion': 'log_loss', 'n_estimators': 10}",0.982221,0.964286,0.929513,0.982051,0.981728,0.967960,0.020412,7
10,0.273515,0.007003,0.021374,0.002736,log_loss,100,"{'criterion': 'log_loss', 'n_estimators': 100}",1.000000,0.945469,0.929513,0.982051,1.000000,0.971406,0.028901,3
11,0.242401,0.009623,0.012121,0.006522,log_loss,100,"{'criterion': 'log_loss', 'n_estimators': 100}",1.000000,0.963889,0.929513,0.964286,1.000000,0.971537,0.026448,2