In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("CKD.csv")
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [7]:
data=pd.get_dummies(data,drop_first=True)
data

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2.000000,76.459948,3.0,0.0,148.112676,57.482105,3.077356,137.528754,4.627244,12.518156,...,False,False,False,False,False,False,True,True,False,True
1,3.000000,76.459948,2.0,0.0,148.112676,22.000000,0.700000,137.528754,4.627244,10.700000,...,True,False,False,False,False,False,True,False,False,True
2,4.000000,76.459948,1.0,0.0,99.000000,23.000000,0.600000,138.000000,4.400000,12.000000,...,True,False,False,False,False,False,True,False,False,True
3,5.000000,76.459948,1.0,0.0,148.112676,16.000000,0.700000,138.000000,3.200000,8.100000,...,True,False,False,False,False,False,True,False,True,True
4,5.000000,50.000000,0.0,0.0,148.112676,25.000000,0.600000,137.528754,4.627244,11.800000,...,True,False,False,False,False,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,0.0,0.0,219.000000,36.000000,1.300000,139.000000,3.700000,12.500000,...,True,False,False,False,False,False,True,False,False,True
395,51.492308,70.000000,0.0,2.0,220.000000,68.000000,2.800000,137.528754,4.627244,8.700000,...,True,False,False,True,True,False,True,False,True,True
396,51.492308,70.000000,3.0,0.0,110.000000,115.000000,6.000000,134.000000,2.700000,9.100000,...,True,False,False,True,True,False,False,False,False,True
397,51.492308,90.000000,0.0,0.0,207.000000,80.000000,6.800000,142.000000,5.500000,8.500000,...,True,False,False,True,True,False,True,False,True,True
398,51.492308,80.000000,0.0,0.0,100.000000,49.000000,1.000000,140.000000,5.000000,16.300000,...,True,False,False,False,False,False,True,False,False,False

In [9]:
data.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [11]:
data["classification_yes"].value_counts()

classification_yes
True     249
False    150
Name: count, dtype: int64

In [13]:
independent=data[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dependent=data[["classification_yes"]]

In [15]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(independent,dependent,test_size=1/3,random_state=0)

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [25]:
from sklearn.model_selection import GridSearchCV
grid_params={'n_neighbors':[1,10,100],'algorithm':['auto', 'ball_tree', 'kd_tree', 'brute']}
grid=GridSearchCV(KNeighborsClassifier(),grid_params,refit=True,verbose=3,n_jobs=-1,scoring='f1_weighted')
grid.fit(xtrain,ytrain)
re=grid.cv_results_
grid_prediction=grid.predict(xtest)
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(ytest,grid_prediction)
from sklearn.metrics import classification_report
clf_report=classification_report(ytest,grid_prediction)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\Users\MOHANLAL\anaconda3\Lib\site-packages\sklearn\neighbors\_classification.py:238: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

In [27]:
from sklearn.metrics import f1_score
f1_macro=f1_score(ytest,grid_prediction,average='weighted')
print("The best F1 score is {}:".format(grid.best_params_),f1_macro)

The best F1 score is {'algorithm': 'auto', 'n_neighbors': 1}: 0.7625643055005937

In [29]:
print("The confusion matrix is \n",cm)
print("The classification report is \n",clf_report)

The confusion matrix is
 [[41 10]
 [22 60]]
The classification report is
               precision    recall  f1-score   support

       False       0.65      0.80      0.72        51
        True       0.86      0.73      0.79        82

    accuracy                           0.76       133
   macro avg       0.75      0.77      0.75       133
weighted avg       0.78      0.76      0.76       133

In [31]:
from sklearn.metrics import roc_auc_score
roc_auc_score(ytest,grid.predict_proba(xtest)[:,1])

0.7678144428503109

In [37]:
table=pd.DataFrame.from_dict(re)
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_algorithm,param_n_neighbors,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.016170,0.004712,0.112338,0.004631,auto,1,"{'algorithm': 'auto', 'n_neighbors': 1}",0.683430,0.685789,0.719201,0.795477,0.770956,0.730971,0.045166,1
1,0.008853,0.003435,0.113292,0.005076,auto,10,"{'algorithm': 'auto', 'n_neighbors': 10}",0.817901,0.647157,0.665257,0.702707,0.738011,0.714207,0.060569,5
2,0.007099,0.001790,0.118829,0.002716,auto,100,"{'algorithm': 'auto', 'n_neighbors': 100}",0.704630,0.548024,0.626117,0.570807,0.715849,0.633085,0.068016,9
3,0.009254,0.001833,0.025975,0.004834,ball_tree,1,"{'algorithm': 'ball_tree', 'n_neighbors': 1}",0.683430,0.685789,0.719201,0.795477,0.770956,0.730971,0.045166,1
4,0.010686,0.002621,0.018710,0.003381,ball_tree,10,"{'algorithm': 'ball_tree', 'n_neighbors': 10}",0.817901,0.647157,0.665257,0.702707,0.738011,0.714207,0.060569,5
5,0.035747,0.039985,0.034204,0.019833,ball_tree,100,"{'algorithm': 'ball_tree', 'n_neighbors': 100}",0.704630,0.548024,0.626117,0.570807,0.715849,0.633085,0.068016,9
6,0.043501,0.042320,0.032827,0.014240,kd_tree,1,"{'algorithm': 'kd_tree', 'n_neighbors': 1}",0.683430,0.685789,0.719201,0.795477,0.770956,0.730971,0.045166,1
7,0.014431,0.008945,0.025366,0.005060,kd_tree,10,"{'algorithm': 'kd_tree', 'n_neighbors': 10}",0.817901,0.647157,0.665257,0.702707,0.738011,0.714207,0.060569,5
8,0.011002,0.004646,0.025878,0.002747,kd_tree,100,"{'algorithm': 'kd_tree', 'n_neighbors': 100}",0.704630,0.548024,0.626117,0.570807,0.715849,0.633085,0.068016,9
9,0.006871,0.001954,0.106765,0.004306,brute,1,"{'algorithm': 'brute', 'n_neighbors': 1}",0.683430,0.685789,0.719201,0.795477,0.770956,0.730971,0.045166,1
10,0.007114,0.001252,0.101034,0.004999,brute,10,"{'algorithm': 'brute', 'n_neighbors': 10}",0.817901,0.647157,0.665257,0.702707,0.738011,0.714207,0.060569,5
11,0.006915,0.001439,0.095209,0.009496,brute,100,"{'algorithm': 'brute', 'n_neighbors': 100}",0.704630,0.548024,0.626117,0.570807,0.715849,0.633085,0.068016,9